.app__body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr auto;
}

/* --op-breakpoint-small */
@media (width < 768px) {
  .app__body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
