:root {
  /*
  Breakpoints
  These breakpoint values will be used as a guide for media queries.
  Annotate the uses with a comment above referring to the variable being referenced.

  --op-breakpoint-small: 768px;
  ...
  */
}

.accordion {
  background-color: var(--op-color-primary-plus-max);
  border-radius: var(--op-radius-medium);
  box-shadow: var(--op-border-all) var(--op-color-border);
  color: var(--op-color-primary-on-plus-max);
  width: 100%;
  overflow: visible;
  
  summary {
    grid-template-columns: auto 1fr auto auto;
    grid-gap: var(--op-space-medium);
    padding: var(--op-space-x-small) var(--op-space-small) var(--op-space-x-small) var(--op-space-x-small);
    
    .accordion__label {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-normal);
    }
  }
  
  .accordion__content {
    background-color: var(--op-color-neutral-plus-eight);
    box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
    color: var(--op-color-primary-on-plus-eight);
    display: flex;
    justify-content: space-between;
    padding: var(--op-space-small) var(--op-space-medium);
  }
}

details[open] {
  background-color: var(--op-color-primary-plus-eight);
  box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
  color: var(--op-color-primary-on-plus-eight);
  
  details[open] summary {
    background-color: var(--op-color-primary-plus-eight);
    box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
    color: var(--op-color-primary-on-plus-eight);
  }
}

.player-hand__label {
  display: none;
  font-size: var(--op-font-medium);
  font-weight: var(--op-font-weight-normal);
}

@media (width < 768px) {
  .accordion {
    summary {
       /* Hides "Cards:" "Books:" span for desktop implementation */
      .accordion__label:nth-of-type(3n), .accordion__label:nth-of-type(4n) {
        display: none;
      }
    }
    
    .accordion__content {
      /* Shows "Cards:" "Books:" span for desktop implementation */
      .player-hand__label {
        display: block;
      }
    }
  }
}