.accordion {
  color: var(--op-color-primary-on-plus-max);
  background-color: var(--op-color-primary-plus-max);
  box-shadow: var(--op-border-all) var(--op-color-border);
  border-radius: var(--op-radius-medium);
  width: 100%;

  summary {
    grid-template-columns: auto 1fr auto auto;
    grid-gap: var(--op-space-medium);
    padding: var(--op-space-x-small) var(--op-space-small) var(--op-space-x-small) var(--op-space-x-small);
  }
  
  .accordion__label {
    font-size: var(--op-font-large);
    font-weight: var(--op-font-weight-normal);
  }
  
  .accordion__content {
    padding: var(--op-space-small) var(--op-space-medium);
    color: var(--op-color-primary-on-plus-eight);
    background-color: var(--op-color-neutral-plus-eight);
    box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
  }
}

details[open] {
  color: var(--op-color-primary-on-plus-eight);
  background-color: var(--op-color-primary-plus-eight);
  box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
  
  details[open] summary {
    color: var(--op-color-primary-on-plus-eight);
    background-color: var(--op-color-primary-plus-eight);
    box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
  }
}
