.sidebar {
  .sidebar__brand {
    font-size: var(--op-font-large);
    font-weight: var(--op-font-weight-medium);
    margin: 0;
    padding: var(--op-space-large);
  }

  .sidebar__content {
    padding: var(--op-space-medium);
  }
}
