.accordion {
  background-color: var(--op-color-neutral-plus-six);
  box-shadow: var(--op-border-all) var(--op-color-border);
  border-radius: var(--op-radius-medium);
}

summary.accordion__summary {
  grid-template-columns: auto 1fr auto auto;
  padding: var(--op-space-small )var(--op-space-medium) var(--op-space-small) var(--op-space-small);
  grid-gap: var(--op-space-medium);
  
  background-color: var(--op-color-neutral-plus-six);

  font-size: var(--op-font-small);
  font-weight: var(--op-font-weight-normal);
  
  &:hover {
    color: var(--op-color-alerts-notice-on-plus-six);
    background-color: var(--op-color-alerts-notice-plus-six);
    border-radius: var(--op-radius-medium);
  }
}

.accordion__content {
  display: flex;
  padding: var(--op-space-small);
  gap: var(--op-space-x-small);
  
  background-color: var(--op-color-neutral-plus-six);
  box-shadow: var(--op-border-bottom) var(--op-color-border);
  border-radius: var(--op-radius-medium);
  
  font-weight: var(--op-font-weight-normal);
}
