.game-card {
  --gf-game-card-height-small: calc(var(--op-space-scale-unit) * 8);
  --gf-game-card-height-large: calc(var(--op-space-scale-unit) * 16);
  --gf-game-card-width-small: calc(var(--op-space-scale-unit) * 6);
  --gf-game-card-width-large: calc(var(--op-space-scale-unit) * 12);

  background-color: var(--op-color-neutral-plus-five);
  border-radius: var(--op-radius-medium);
  box-shadow: var(--op-border-all) var(--op-color-neutral-plus-two);
  color: var(--op-color-neutral-on-plus-five);
  display: flex;
  height: var(--gf-game-card-height-large);
  padding: var(--op-space-x-small) var(--op-space-small);
  width: var(--gf-game-card-width-large);

  &.game-card--small {
    font-size: var(--op-font-x-small);
    height: var(--gf-game-card-height-small);
    margin: 0;
    padding: var(--op-space-3x-small) var(--op-space-2x-small);
    width: var(--gf-game-card-width-small);
  }
}

.card-hand {
  display: flex;
}

.card-stack {
  /* General Stack Layout */
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  /* Layout Overrides˘ */
  &.card-stack--top-to-bottom {
    justify-content: start;
  }

  &.card-stack--bottom-to-top {
    justify-content: end;
  }
}
