:root {
  /*
  Breakpoints
  These breakpoint values will be used as a guide for media queries.
  Annotate the uses with a comment above referring to the variable being referenced.

  --op-breakpoint-small: 768px;
  ...
  */
}

.player-hand {
  display: flex;
  flex-grow: 1;
  gap: var(--op-space-small);
}

/* --op-breakpoint-small */
@media (width < 768px) {
  .player-hand {
    flex-direction: column;
  }
}

.game-card {
  --gf-game-card-overlap-small: calc(var(--op-space-scale-unit) * 3 * -1);
  --gf-game-card-overlap-large: calc(var(--op-space-scale-unit) * 8 * -1);
  --gf-game-card-height-small: calc(var(--op-space-scale-unit) * 8);
  --gf-game-card-height-large: calc(var(--op-space-scale-unit) * 16);
  --gf-game-card-width-small: calc(var(--op-space-scale-unit) * 6);
  --gf-game-card-width-large: calc(var(--op-space-scale-unit) * 12);

  background-color: var(--op-color-neutral-plus-eight);
  border-radius: var(--op-radius-medium);
  box-shadow: var(--op-border-all) var(--op-color-neutral-plus-four), var(--op-shadow-small);
  color: var(--op-color-neutral-on-plus-eight);
  display: flex;
  font-size: var(--op-font-small);
  height: var(--gf-game-card-height-large);
  margin-left: var(--gf-game-card-overlap-large);
  padding: var(--op-space-x-small) var(--op-space-small);
  width: var(--gf-game-card-width-large);

  &.game-card--small {
    box-shadow: var(--op-border-all) var(--op-color-neutral-plus-four), var(--op-shadow-x-small);
    font-size: var(--op-font-x-small);
    height: var(--gf-game-card-height-small);
    margin-left: var(--gf-game-card-overlap-small);
    padding: var(--op-space-3x-small) var(--op-space-2x-small);
    width: var(--gf-game-card-width-small);
  }
}

.card-stack {
  /* General Stack Layout */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  
  :first-child {
    margin: 0;
  }
  
  &.card-stack--start {
    justify-content: start;
  }
  
  &.card-stack--end {
    justify-content: end;
  }
}

/* --op-breakpoint-small */
@media (width < 768px) {
  .card-stack {
    &.card-stack--end {
      justify-content: start;
    }
  }
}