:root {
  /*
  Breakpoints
  These breakpoint values will be used as a guide for media queries.
  Annotate the uses with a comment above referring to the variable being referenced.

  --op-breakpoint-small: 768px;
  ...
  */
}

.app__body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr auto;
}

/* --op-breakpoint-small */
@media (width < 768px) {
  .app__body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
