.gf-body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 1fr;
}

.gf-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--op-font-small);
  font-weight: var(--op-font-weight-medium);
  
  &.gf-section__game-board {
    color: var(--op-color-neutral-on-plus-max);
    background-color: var(--op-color-neutral-plus-max);
    box-shadow: inset 0 0 var(--op-color-border) 0;
    font-size: var(--op-font-large);
  }
  
  &.gf-section__game-feed {
    color: var(--op-color-primary-on-plus-eight);
    background-color: var(--op-color-primary-plus-eight);
  }
  
  &.gf-section__your-hand {
    color: var(--op-color-neutral-on-plus-eight);
    background-color: var(--op-color-neutral-plus-eight);
    font-size: var(--op-font-small);
    font-weight: var(--op-font-weight-medium);
    box-shadow: inset var(--op-border-left) var(--op-color-border);
  }
}

.gf-section__header {
  display: flex;
  align-items: center;
  gap: var(--op-space-x-small);
  padding: var(--op-space-small) var(--op-space-medium) var(--op-space-x-small) var(--op-space-medium);
  height: auto;
  box-shadow: var(--op-border-bottom) var(--op-color-border);
  
  &.gf-section__header--space-between {
    justify-content: space-between;
  }
}

.gf-section__body {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-x-small);
  padding: var(--op-space-medium);
  
  &.gf-section__body--expanded {
    padding: var(--op-space-3x-large);
  }
  
  &.gf-section__body--space-between; {
    flex-direction: column;  
  } 
}