:root {
  --gf-game-card-height--small: calc(var(--op-space-scale-unit) * 8);
  --gf-game-card-width--small: calc(var(--op-space-scale-unit) * 6);
  --gf-game-card-height--large: calc(var(--op-space-scale-unit) * 16);
  --gf-game-card-width--large: calc(var(--op-space-scale-unit) * 12);
}

.sidebar.sidebar--drawer {
  .sidebar__brand {
    padding: var(--op-space-large);
    font-size: var(--op-font-large);
    font-weight: var(--op-font-weight-medium);
  }

  .sidebar__content {
    padding: var(--op-space-medium);
  }
}

.app-body {
  display: grid;
  grid-template-rows: 6fr 1fr;
}

.app__content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: var(--op-space-large);
  padding: var(--op-space-large) var(--op-space-3x-large) 0 var(--op-space-3x-large);
  max-width: 100%;
}

.app-players {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--op-space-4x-large) 0;
  gap: var(--op-space-small);
  font-size: var(--op-font-large);
  font-weight: var(--op-font-weight-medium);
}

.app-feed {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--op-space-small);
  font-size: var(--op-font-large);
  font-weight: var(--op-font-weight-medium);
}

summary.accordion__summary {
  grid-template-columns: 1fr 1fr 1fr auto;
  box-shadow: var(--op-border-all) var(--op-color-border);
  padding: var(--op-space-small);
  font-size: var(--op-font-small);
  font-weight: var(--op-font-weight-normal);

  &:hover {
    color: var(--op-color-alerts-notice-on-plus-six);
    background-color: var(--op-color-alerts-notice-plus-six);
    border-radius: var(--op-radius-medium);

    .summary__label {
      color: var(--op-color-alerts-notice-on-plus-six);
    }
  }
}

.accordion__content {
  /* Refactor grid */
  display: flex;
  grid-gap: var(--op-space-small);
  background-color: var(--op-color-neutral-plus-six);
  box-shadow: var(--op-border-all) var(--op-color-border);
  padding: var(--op-space-small);
  font-weight: var(--op-font-weight-normal);
}

.side-panel {
  position: sticky;
  top: 0;
  height: 70vh;
  width: 100%;
  justify-content: space-between;
  padding: var(--op-space-large);
  box-shadow: var(--op-border-all) var(--op-color-border);
  border-radius: var(--op-radius-medium);
  font-size: var(--op-font-medium);
  font-weight: var(--op-font-weight-normal);

  &:hover {
    color: var(--op-color-alerts-notice-on-plus-six);
    background-color: var(--op-color-alerts-notice-plus-six);
  }
}

.card__body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.game-card {
  display: flex;
  justify-content: right;
  height: var(--gf-game-card-height--large);
  width: var(--gf-game-card-width--large);
  padding: var(--op-space-x-small) var(--op-space-small);
  color: var(--op-color-neutral-on-plus-five);
  background-color: var(--op-color-neutral-plus-five);
  box-shadow: var(--op-border-all) var(--op-color-neutral-plus-two);
  border-radius: var(--op-radius-medium);

  &.game-card--small {
    height: var(--gf-game-card-height--small);
    width: var(--gf-game-card-width--small);
    padding: var(--op-space-3x-small) var(--op-space-2x-small);
    font-size: var(--op-font-x-small);
  }
}

.app__footer {
  .footer__header {
    --gf-footer-header-position-block: calc(var(--gf-game-card-height--large) + var(--op-space-scale-unit) * 5);

    position: absolute;
    bottom: var(--gf-footer-header-position-block);
    left: var(--op-space-large);
    font-size: var(--op-font-large);
    font-weight: var(--op-font-weight-medium);
  }

  .footer__body {
    display: flex;
    padding: var(--op-space-large);
    justify-content: space-between;
    height: 100%;

    background-color: var(--op-color-neutral-plus-six);
    box-shadow: var(--op-border-all) var(--op-color-border);

    .footer__body--left-col {
      display: flex;
      gap: var(--op-space-small);
    }

    .footer__body--right-col {
      display: flex;
      gap: var(--op-space-small);
    }
  }
}
